/* https://getbootstrap.com/docs/5.3/components/buttons/#variables */
/* Personnalisation des classes */
.btn-primary {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  --bs-btn-color: #fff;
  --bs-btn-bg: #eb9413;
  --bs-btn-border-color: #eb9413;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #bf7a13;
  --bs-btn-hover-border-color: #bf7a13;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #eb9413;
  --bs-btn-active-border-color: #eb9413;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #e4b164;
  --bs-btn-disabled-border-color: #e4b164;
}

.btn-secondary {
  margin-top: 10px;
  margin-bottom: 10px;
}
